<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <div>
            <h1>Sorry, there's nothing at this address.</h1>
        </div>
    </NotFound>
</Router>
