@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

<main>
    <article class="content px-4">
        @Body
    </article>
</main>
